name: CI - Testes Automatizados

on:
  push:
    branches: [ main, staging ]
  pull_request:
    branches: [ main, staging ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Rodar Testes com Pytest
      run: |
        # Adiciona a pasta atual ao PYTHONPATH para os testes acharem o app.py
        export PYTHONPATH=$PYTHONPATH:.
        pytest